.two-columns {
    display: flex;
    /* justify-content: space-around; */
  }
  
  .column {
    margin-left: 5%;
  }
  
  button {
    margin-top: 10px;
  }
  body {
    background-color: lightblue;
  }
  